.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.titulo{

font-family: 'Sofia Sans Semi Condensed', sans-serif;
display: flex;
justify-content: center;
justify-items: center;
margin-top: 15%;
color: #E9C719;
font-size: 6rem;
}


.cerebro{

  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position:absolute;
  height: 80%;
  margin-left: 30%;

}

.titulo1{

  font-family: 'Moon Dance';
  display: flex;
  justify-content: center;
  justify-items: center;
  color:  #E9C719;
  font-size: 6rem;
  height: 18rem;
  }

  .titulo3{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: antiquewhite;
    font-size: 3rem;
    height: 100%;
    width: 70%;
    margin-left: 15%;
    text-align:center;
    }

.contenido1{

font-family: 'Sofia Sans Semi Condensed', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
margin-top: 5%;
margin-bottom: 15%;
color: antiquewhite;
font-size: 3rem;
text-align:center;
width: 70%;
margin-left: 15%;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}



.number {
  font-size: 300px;
  color: #545864;
}

.number span {
  display: inline-block;
  position: relative;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}
 

.contenedor{
  height: 50rem;

}



@media only screen and (max-width: 480px) {

  .contenedor{
    height: 30rem;
  
  }
  
.titulo{

  font-size: 3rem;
  }


  .cerebro{
  margin-left: 10%;
  height: 50%;
  
  }

  
.titulo1{

 margin-top: 10%;
 margin-bottom: 0%;
  font-size: 2rem;
  height: 50%;
  margin-left: 25%;
  }


  .titulo3{
   margin-top: 0;
    font-size: 1rem;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0;
 
    }
 
    
    .contenido1{

     
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      margin-top: 5%;
      margin-bottom: 15%;
      color: antiquewhite;
      font-size: 1rem;
      text-align:center;
      width: 70%;
      margin-left: 15%;
      }

}