.contenedorContactame{

display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
background-image: url("./fondoContactame.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;



}


.contactame{

margin-top: 25vh;
margin-left: 40vh;
height: 40vh;
width: 60vh;
font-size: 3vh;


}


.correologo{
  height: 5vh;
  margin: 1rem;
}


.nombre{
  border: transparent;
  outline:none;
  background-color: transparent;
}

.mensaje{

  border: transparent;
  outline:none;
  background-color: transparent;

}

.correo{

  border: transparent;
  outline:none;
  background-color: transparent;

}

.imagenes55{

  margin-left: 60vh;
  height: 10vh;
  width: 20vh;


}

.linkin{
  height: 6vh;
  margin: 1rem;
}

.pdf{
 
  height: 6vh;
}



 
@media only screen and (max-width: 480px) {

  .contactame{
    margin-left: 0vh;
    margin-top: 25vh;
    height: 70vh;
    width: 60vh;
    
    }


    .imagenes55{
      margin-bottom: 5vh;
      margin-left: 0vh;
      width: 30vh;
      } 
  }

  .imagenes55{
    margin-bottom: 25vh;
    margin-left: 30vh;
    width: 30vh;
    } 


 
@media only screen and (max-width: 780px) {

     .contactame{
    margin-left: 0vh;
    margin-top: 25vh;
    height: 70vh;
    width: 60vh;
    
    }
  
    
  }





@media only screen and (min-width: 1400px) {

  .imagenes55{
margin-left: 70vh;
width: 30vh;
}  


.contactame{
  margin-left: 50vh;
  
  }
  
  
}