.ContenedorAbout{

    justify-items: center;
    justify-content: center;
    background-color: #E9C719;
    background-size: cover;
    height:100vh;
    width: 100%;
    
}



.titulo6{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
}


.contenido4{
font-family: 'Roboto Slab', serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-size:large;

}

@media only screen and (max-width: 480px) {

 
    .contenido4{
       
        font-size:65%;
        
        }
        .titulo6{
         
            font-size: 75%;
        }   
        
        



        
      
}
