.contenedor1{
 
   
    justify-items: center;
    justify-content: center;
    background-color: #E9C719;
    background-size: cover;
    height: 48rem;
    width: 100%;
  
}


.imagen{
    background-image: url('./fondo3.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 48rem;
    width: 100%;
    
  
}

@media only screen and (max-width: 480px) {

 
    .imagen{
        background-image: url('./portadacolores1.png');
        height: 100vh;
        width: 100%;   
    }

    .contenedor1{
        background-color: #faf9f7;    
        height: 100%;
        width: 100%;
      
    }

}