.contenedordeproyectos{
    display: flex;
    flex-direction: column; 
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
 
}



.contenedordeinformacion{

   
    width: 100%;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
   
 }


.contenedortitulopagina{
   
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    margin-left:37% ;
}


.contenido{
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
    margin-left:15% ;
 }

 iframe {
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    border: 0.5rem solid;
 }

 .titulocontenedor1{

    font-size: 2rem;
    color: rgb(113, 11, 209);
    font-family: 'Roboto Slab', serif;
    margin-top: 1rem;
    margin-bottom: 5%;
    margin-left: 7%;
  

 }

 .juego{
   
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  
   
    
 }

 
.contenedorproyecto{

    display: flex;
    flex-direction: row;
    width:60rem; 
    margin-top: 8%;
   
   
  
}
 




.contenedorinf{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
}

.imagendeproyecto{
    margin: 1rem;
    border-radius: 50%;
    border-color: black;
    border: thin solid;
    height:16rem ;
    width: 16rem;
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  

}

.imagendeproyecto:hover{

  
 
    filter: grayscale(0%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}








.imagenGit{
   margin-top: 10%;
   margin-left: 50%;
   margin-bottom: 15%;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    justify-items: center;
   
}











.linea{
    
height: 2px;
 background-color:blueviolet;
}






.logotecnologia{
    height:2rem ;
    width: 2rem;
    margin-top: 3rem;
}

.titulocontenedor{
    font-size: 2rem;
    color: rgb(113, 11, 209);
    font-family: 'Roboto Slab', serif;
    margin-top: 1rem;
}


.comentariocontenedor{
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin-bottom: 1rem;
    text-justify:distribute-all-lines;
}



@media only screen and (max-width: 480px)  {

    .contenedortitulopagina{
   
        width: 40%;
        margin-left:30% ;
        font-size: 1rem;
        margin-top: 25%;
        
    }

    .contenedorinf{
        display:none;
        margin-top:10rem ;
    }
    

    .contenido{
        text-align: center;
        font-size: 1rem;
        width: 70%;
        margin-left:15% ;
     }


     .imagendeproyecto{
       
        height:12rem ;
        width: 12rem;
        filter: grayscale(100%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      
    
    }

    .imagendeproyecto:hover{

  
        height:12.5rem;
        width: 12.5rem;
        filter: grayscale(0%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .contenedorproyecto{

        display: flex;
        flex-direction: row;
        width:70%; 
        margin-left: 15%;
        margin-top: 8%;

      
    }


    .contenedordeinformacion{

     margin-top: 15rem;
        width: 100%;
        font-family: 'Sofia Sans Semi Condensed', sans-serif;
        display: flex;
        flex-direction: column;
       
     }
  
    
    }




@media only screen and (max-width: 780px) {

}







@media only screen and (min-width: 1370px) {

    
    
}
    



