.presentacion{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
    color: black;
}


.contenedorfotos{
    display: flex;
    flex-direction: row;
  
}

.portada0{

    margin-left: 2%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items:center;
    position:absolute;
   


}


.portada{

margin-left: 50%;
height: 100vh;


}