.transition-fade {
  transition: 1s;
  opacity: 2;
}

.tituloSkill{

font-size: 4rem;
background-color: #E9C719;
display: flex;
justify-content: center;
justify-items: center;
margin-bottom: 10%;;



font-family: 'Roboto Slab', serif;


}




.texto1{ 

  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 
  margin-left: 4rem;
  margin-top: 4%;
  height:80%;
  width:50vh;
}

.texto2{ 

margin-left: 45rem;
font-family: 'Roboto Slab', serif;
font-size:1rem ; 
height:80%;
width:50vh;

}

.texto3{ 
 

  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 
  margin-left: 5%;
  height:80%;
  width:75vh;


}

.texto4{ 
 

  margin-right: 4%;
  margin-left: 65%;
  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 
  height:85%;
  width:80vh;

 

}

.padre{
  background-color: #E9C719;
  height: 75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.img{
margin-left: 2rem;
height: 7rem;
width: 7rem;


}

.conatiner1{
 
  justify-items: center;
  justify-items: center;
  background-color: #E9C719;
  display: flex;
  height: 8rem;


}
.container2{

  background-color: #E9C719;
  display: flex;
  flex-direction: row;

}

.container3{

  background-color: #E9C719;
  display: flex;
  flex-direction:column;

}

.imagenes{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;

  
}

.imagenes2{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;
  width: 95%;

  
}


.imagenes4{
  display: flex;
  flex-direction: row;
  width: 95%;
 

  
}

.cajaLogos{
 
background-color:transparent;
height:140px;
width: 40%;
background-color: #E9C719;
  }

  .cajaLogos2{
    margin-left: 10%;
    background-color:transparent;
    height:130px;
    width: 48%;
    background-color: #E9C719;
  
      }


      .cajaLogos3{
 
        background-color:transparent;
        height:120px;
        width: 48%;
      
          }


  @media only screen and (min-width: 1370px) {

 
  .cajaLogos2{
   margin-left: 5%;
   background-color:transparent;
   height:130px;
   width: 45%;
   background-color: #E9C719;
    
    }


    .texto2{ 

    margin-left: 47rem;
    font-family: 'Roboto Slab', serif;
    font-size:1rem ; 
    height:80%;
    width:50vh;
         
          
    }
  }





  @media only screen and (max-width: 480px) {


    .Skill{
      display: none;
    }

    .padre{


   background-image: url('./Rectangle\ 2.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size:contain;
    }


    }