.transition-fade {
  transition: 1s;
  opacity: 2;
}

.tituloSkill{

font-size: 4rem;
background-color: #E9C719;
display: flex;
justify-content: center;
justify-items: center;
margin: 5rem;


font-family: 'Roboto Slab', serif;


}




.texto1{ 

  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 
  margin-left: 4rem;
  margin-top: 4%;

}

.texto2{ 
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 50rem;
  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 

 

}

.texto4{ 
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 50rem;
  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 

 

}

.padre{
  background-color: #E9C719;
  height: 75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.img{
margin-left: 2rem;
height: 7rem;
width: 7rem;


}

.conatiner1{
 
  justify-items: center;
  justify-items: center;
  background-color: #E9C719;
  display: flex;
  height: 8rem;


}
.container2{

  background-color: #E9C719;
  display: flex;
  flex-direction: row;

}

.container3{

  background-color: #E9C719;
  display: flex;
  flex-direction:column;

}

.imagenes{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;

  
}

.imagenes2{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;
  width: 95%;

  
}


.imagenes4{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;
  width: 95%;

  
}

.cajaLogos{
 
background-color:transparent;
height:120px;
width: 48%;
  }

  .cajaLogos2{
 
    background-color:transparent;
    height:120px;
    width: 45%;
  
      }


      .cajaLogos3{
 
        background-color:transparent;
        height:120px;
        width: 45%;
      
          }


  @media only screen and (max-width: 1370px) {

 
.imagenes{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;
  width:40rem ;
  
}

.imagenes2{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;

  
}

.cajaLogos2{
 
  background-color:transparent;
  height:120px;
  width: 45%;
    }

    .imagenes4{
  display: flex;
  flex-direction: row;
  background-color: #E9C719;
  width: 95%;

  
}



    }