.transition-fade {
  transition: 1s;
  opacity: 2;
}

.tituloSkill{

font-size: 4rem;
background-color: #E9C719;
display: flex;
justify-content: center;
justify-items: center;
margin: 5rem;


font-family: 'Roboto Slab', serif;


}


.texto1{ 

  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 
  margin-left: 4rem;

}

.texto2{ 
  margin-left: 50rem;
  font-family: 'Roboto Slab', serif;
  font-size:1rem ; 

 

}

.padre{
  background-color: #E9C719;
  height: 65rem;
    width: 89rem;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.img{
margin-left: 2rem;
height: 7rem;
width: 7rem;


}

.conatiner1{
 
  justify-items: center;
  justify-items: center;
  background-color: #E9C719;
  display: flex;
  height: 8rem;


}
.container2{

  background-color: #E9C719;
  display: flex;
  flex-direction: row;

}

.container3{

  background-color: #E9C719;
  display: flex;
  flex-direction:column;

}

.imagenes{
  display: flex;
  flex-direction: row;
}
